/* ==========================================================================
   0. Body  - Main css for body tag
   ========================================================================== */

@font-face {
    font-family: "Circular";
    src: url("/assets/fonts/circular-light.woff2") format('woff');
}

@font-face {
    font-family: "Circular";
    src: url("/assets/fonts/circular-bold.woff2") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Circular";
    src: url("/assets/fonts/circular-book.woff2") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url("/assets/fonts/circular-light.woff2") format('woff');
    font-style: italic;
}

html {
    font-family: Circular;
}

body { 
    font-size: 16px;
    margin: 0; 
    font-family: Circular;
}


/* ==========================================================================
   1. Header - The top of every page
   ========================================================================== */

   .header {
       color:#fff; 
       margin-left: 90px;
   }

   .header-image {
       width: 300px;
       display: block;
       margin-left: 0em;
       margin-right: auto;
   }


/* ==========================================================================
   2. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    margin: 8rem 0 0 0;
    padding: 1rem 15px;
    font-size: 1.3rem;
    line-height: 1.75em;
    color: #BBC7CC;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    border-bottom: #bbc7cc 1px solid;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}


/* ==========================================================================
   3. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 4rem auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}

.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    display: inline-block;
    padding: 0 15px;
    border: #bfc8cd 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border 0.3s ease;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    color: #889093;
    border-color: #98a0a4;
}

.extra-pagination {
    display: none;
    border-bottom: #EBF2F6 1px solid;
}
.extra-pagination:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}
.extra-pagination .pagination {
    width: auto;
}

/* On page2+ make all the headers smaller */
.paged .main-header {
    max-height: 30vh;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
    display: block;
}


/* ==========================================================================
   4. Single Post - When you click on an individual post
   ========================================================================== */

.post-header {
    margin-top: 3.3rem;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.post-title a {
    text-decoration: none;
    color: #2e2f33;
    font-size:40px;
    font-weight: 400;
    font-family: Circular;
}

.post-meta {
    margin: 1.75rem 0 2rem 0;
    font-size: 16px;
    line-height: 1.2rem;
    color: #9EABB3;
}

.post-image {
	margin-bottom: 20px;
    max-height:300px;
}

.post-excerpt p {
    margin: 0;
    font-size: 16px;
}

.green-link a{
    color: #2ebd59;
}

.green-link {
    color: #2ebd59;
}


.list-group-item {
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #efefef;
}

.widget-title {
	margin-top: 36px;
    margin-bottom: 12px;
}